.pie{
    height:14px;
    width:14px;
}
.pietd{
    background-color: lightgray;
    padding: 2px;
    cursor: pointer;
}
.chartwrapper{
    display: flex;
}
.piewrapper{
    flex:1;
}
#piechart{
   height:400px;
}